In [1]:
import pandas as pd

In [3]:
# Creating a DataFrame
data = {
    'Date': pd.date_range(start='2023-01-01', periods=5, freq='D'),
    'AAPL': [150.75, 153.30, 149.50, 155.00, 157.25],
    'GOOGL': [2800.50, 2820.00, 2790.00, 2850.00, 2900.00],
    'MSFT': [299.00, 305.00, 300.00, 310.00, 315.00]
}
df = pd.DataFrame(data)
print(df)

        Date    AAPL   GOOGL   MSFT
0 2023-01-01  150.75  2800.5  299.0
1 2023-01-02  153.30  2820.0  305.0
2 2023-01-03  149.50  2790.0  300.0
3 2023-01-04  155.00  2850.0  310.0
4 2023-01-05  157.25  2900.0  315.0

In [4]:
# Viewing the first few rows
print(df.head())

# Viewing the last few rows
print(df.tail())

        Date    AAPL   GOOGL   MSFT
0 2023-01-01  150.75  2800.5  299.0
1 2023-01-02  153.30  2820.0  305.0
2 2023-01-03  149.50  2790.0  300.0
3 2023-01-04  155.00  2850.0  310.0
4 2023-01-05  157.25  2900.0  315.0
        Date    AAPL   GOOGL   MSFT
0 2023-01-01  150.75  2800.5  299.0
1 2023-01-02  153.30  2820.0  305.0
2 2023-01-03  149.50  2790.0  300.0
3 2023-01-04  155.00  2850.0  310.0
4 2023-01-05  157.25  2900.0  315.0

In [5]:
# Getting DataFrame information
print(df.info())

# Getting summary statistics
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5 non-null      datetime64[ns]
 1   AAPL    5 non-null      float64
 2   GOOGL   5 non-null      float64
 3   MSFT    5 non-null      float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 292.0 bytes
None
                      Date        AAPL        GOOGL        MSFT
count                    5    5.000000     5.000000    5.000000
mean   2023-01-03 00:00:00  153.160000  2832.100000  305.800000
min    2023-01-01 00:00:00  149.500000  2790.000000  299.000000
25%    2023-01-02 00:00:00  150.750000  2800.500000  300.000000
50%    2023-01-03 00:00:00  153.300000  2820.000000  305.000000
75%    2023-01-04 00:00:00  155.000000  2850.000000  310.000000
max    2023-01-05 00:00:00  157.250000  2900.000000  315.000000
std                    NaN    3.135961    44.295034    6.760178

In [6]:
# Accessing a single column
print(df['AAPL'])

# Accessing multiple columns
print(df[['AAPL', 'GOOGL']])

# Accessing a single row by index
print(df.iloc[0])

# Accessing multiple rows by index
print(df.iloc[0:2])

# Accessing a specific value
print(df.at[0, 'AAPL'])

0    150.75
1    153.30
2    149.50
3    155.00
4    157.25
Name: AAPL, dtype: float64
     AAPL   GOOGL
0  150.75  2800.5
1  153.30  2820.0
2  149.50  2790.0
3  155.00  2850.0
4  157.25  2900.0
Date     2023-01-01 00:00:00
AAPL                  150.75
GOOGL                 2800.5
MSFT                   299.0
Name: 0, dtype: object
        Date    AAPL   GOOGL   MSFT
0 2023-01-01  150.75  2800.5  299.0
1 2023-01-02  153.30  2820.0  305.0
150.75

In [7]:
# Adding a new row
new_row = {'Date': '2023-01-06', 'AAPL': 160.00, 'GOOGL': 2950.00, 'MSFT': 320.00}
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
print(df)

# Removing a row
if 5 in df.index:
    df = df.drop(index=5)
print(df)

                  Date    AAPL   GOOGL   MSFT
0  2023-01-01 00:00:00  150.75  2800.5  299.0
1  2023-01-02 00:00:00  153.30  2820.0  305.0
2  2023-01-03 00:00:00  149.50  2790.0  300.0
3  2023-01-04 00:00:00  155.00  2850.0  310.0
4  2023-01-05 00:00:00  157.25  2900.0  315.0
5           2023-01-06  160.00  2950.0  320.0
                  Date    AAPL   GOOGL   MSFT
0  2023-01-01 00:00:00  150.75  2800.5  299.0
1  2023-01-02 00:00:00  153.30  2820.0  305.0
2  2023-01-03 00:00:00  149.50  2790.0  300.0
3  2023-01-04 00:00:00  155.00  2850.0  310.0
4  2023-01-05 00:00:00  157.25  2900.0  315.0

In [1]:
# Adding a new column
df['AMZN'] = [3400.00, 3420.00, 3390.00, 3450.00, 3500.00]
print(df)

# Removing a column
df = df.drop(columns=['AMZN'])
print(df)

NameError: name 'df' is not defined